---
import footer from '../../lib/footer'
import H3 from '../typography/H3.astro'
import Span from '../typography/Span.astro'

import iconLocation from '/public/icons/location.svg'
import iconEmail from '/public/icons/email.svg'
import iconPerson from '/public/icons/person.svg'
import imgLogo from '/public/DVD-Sikirevci-logo.png'
---

<footer
    class="lex flex-col flex-wrap items-start justify-evenly gap-6 bg-zinc-300 p-10 md:flex-row md:items-center"
>
    <div class="flex flex-col gap-6">
        <div class="flex flex-col items-start">
            <img src={imgLogo} alt="Logotip DVD-a Sikirevci" class="h-20 md:hidden" />
            <div>
                <H3 text={footer.title} color="dark" />
                <Span text={footer.subtitle} color="dark" />
            </div>
        </div>
        <div class="flex flex-col gap-6">
            <div class="flex items-center gap-1 md:flex-col md:items-start">
                <img src={iconLocation} alt="" class="max-w-[24px] md:max-w-[32px]" />
                <div>
                    <Span text={footer.addressLineOne} color="dark" />
                    <Span text={footer.addressLineTwo} color="dark" />
                </div>
            </div>
            <div class="flex items-center gap-1 md:flex-col md:items-start">
                <img src={iconEmail} alt="" class="max-w-[24px] md:max-w-[32px]" />
                <Span text={footer.email} color="dark" />
            </div>
            <div class="flex items-center gap-1 md:flex-col md:items-start">
                <img src={iconPerson} alt="" class="max-w-[24px] md:max-w-[32px]" />
                <div>
                    <Span text={footer.presidentTitle} color="dark" />
                    <Span text={footer.presidentName} color="dark" />
                    <Span text={footer.presidentContact} color="dark" />
                </div>
            </div>
        </div>
    </div>
    <img src={imgLogo} alt="Logotip DVD-a Sikirevci" class="hidden md:block" />
</footer>
